/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: lightskyblue;
  color: #333;
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  width: 100%;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

#search {
  width: 300px;
  padding: 10px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

main {
  max-width: 60em;
  width: 100%;
  display: flex;
  gap: 20px;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
}

#pokemon-list,
#pokemon-details {
  flex: 1;
  background-color: #ebf7ff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-y: auto;
  max-height: 80vh;
  list-style: none;
}

#pokemon-list {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.pokemon-card {
  border-color: blue;
  width: 22em;
  background-color: white;
  padding-inline: 1em;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
}
img {
  width: 120px;
}
#pokemon-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
